Azure/ADF/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(pipeline().globalParameters.datago,'/1613000/RTMSDataSvcAptTrade/getRTMSDataSvcAptTrade?DEAL_YMD=',pipeline().parameters.DEAL_YMD,'&LAWD_CD=',pipeline().parameters.LAWD_CD,'&serviceKey=',pipeline().parameters.serviceKey)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "WarehouseSource",
						"sqlReaderStoredProcedureName": "[dbo].[PROC_REAL_ESTIMATE_PIPELINE_XML_TB_INS]",
						"storedProcedureParameters": {
							"DEAL_YMD": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.DEAL_YMD",
									"type": "Expression"
								}
							},
							"ENDPOINT": {
								"type": "String",
								"value": "1613000/RTMSDataSvcAptTrade/getRTMSDataSvcAptTrade"
							},
							"LAWD_CD": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.LAWD_CD",
									"type": "Expression"
								}
							},
							"PIPELINE_ID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"XML": {
								"type": "String",
								"value": {
									"value": "@activity('Web1').output.Response",
									"type": "Expression"
								}
							},
							"serviceKey": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.serviceKey",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataAIWarehouseTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "sys",
							"table_name": "tables"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"detectDataType": false,
										"namespaces": true
									}
								},
								"sink": {
									"type": "LakehouseTableSink",
									"tableActionOption": "Append"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['aptNm']"
											},
											"sink": {
												"name": "aptNm",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['buildYear']"
											},
											"sink": {
												"name": "buildYear",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['buyerGbn']"
											},
											"sink": {
												"name": "buyerGbn",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['cdealDay']"
											},
											"sink": {
												"name": "cdealDay",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['cdealType']"
											},
											"sink": {
												"name": "cdealType",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['dealAmount']"
											},
											"sink": {
												"name": "dealAmount",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['dealDay']"
											},
											"sink": {
												"name": "dealDay",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['dealMonth']"
											},
											"sink": {
												"name": "dealMonth",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['dealYear']"
											},
											"sink": {
												"name": "dealYear",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['dealingGbn']"
											},
											"sink": {
												"name": "dealingGbn",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['estateAgentSggNm']"
											},
											"sink": {
												"name": "estateAgentSggNm",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['excluUseAr']"
											},
											"sink": {
												"name": "excluUseAr",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['floor']"
											},
											"sink": {
												"name": "floor",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['jibun']"
											},
											"sink": {
												"name": "jibun",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['landLeaseholdGbn']"
											},
											"sink": {
												"name": "landLeaseholdGbn",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['rgstDate']"
											},
											"sink": {
												"name": "rgstDate",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['sggCd']"
											},
											"sink": {
												"name": "sggCd",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['slerGbn']"
											},
											"sink": {
												"name": "slerGbn",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['umdNm']"
											},
											"sink": {
												"name": "umdNm",
												"physicalType": "string"
											}
										},
										{
											"source": {
												"path": "['aptDong']"
											},
											"sink": {
												"name": "aptDong",
												"physicalType": "string"
											}
										}
									],
									"collectionReference": "$['response']['body']['items']['item']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "datagohttpxml",
									"type": "DatasetReference",
									"parameters": {
										"Endpoint": {
											"value": "@item().Endpoint",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DataAILakehouseTable",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table_name": "real_estimate_table"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"DEAL_YMD": {
				"type": "string",
				"defaultValue": "202506"
			},
			"serviceKey": {
				"type": "string",
				"defaultValue": "AamDlwm%2BpPYieEOHJ6viCvfQj0Aa8r%2FDKZ%2B9mszo6IctYOMcO8OX3MuA2oky10T%2FRtRCia93eMIoeiHd0ojgsw%3D%3D"
			},
			"LAWD_CD": {
				"type": "string",
				"defaultValue": "11110"
			}
		},
		"variables": {
			"result": {
				"type": "String"
			},
			"result2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PipelineTemplate"
		},
		"annotations": []
	}
}