Kolmar/ADF/pipeline/pipeline1_copy1.json
{
	"name": "pipeline1_copy1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(pipeline().globalParameters.datago,'/1613000/RTMSDataSvcAptTrade/getRTMSDataSvcAptTrade?DEAL_YMD=',pipeline().parameters.DEAL_YMD,'&LAWD_CD=',pipeline().parameters.LAWD_CD,'&serviceKey=',pipeline().parameters.serviceKey)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "WarehouseSource",
						"sqlReaderStoredProcedureName": "[dbo].[PROC_REAL_ESTIMATE_PIPELINE_XML_TB_INS]",
						"storedProcedureParameters": {
							"DEAL_YMD": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.DEAL_YMD",
									"type": "Expression"
								}
							},
							"ENDPOINT": {
								"type": "String",
								"value": "1613000/RTMSDataSvcAptTrade/getRTMSDataSvcAptTrade"
							},
							"LAWD_CD": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.LAWD_CD",
									"type": "Expression"
								}
							},
							"PIPELINE_ID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"XML": {
								"type": "String",
								"value": {
									"value": "@activity('Web1').output.Response",
									"type": "Expression"
								}
							},
							"serviceKey": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.serviceKey",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataAIWarehouseTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "sys",
							"table_name": "tables"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"DEAL_YMD": {
				"type": "string",
				"defaultValue": "202506"
			},
			"serviceKey": {
				"type": "string",
				"defaultValue": "AamDlwm%2BpPYieEOHJ6viCvfQj0Aa8r%2FDKZ%2B9mszo6IctYOMcO8OX3MuA2oky10T%2FRtRCia93eMIoeiHd0ojgsw%3D%3D"
			},
			"LAWD_CD": {
				"type": "string",
				"defaultValue": "11110"
			}
		},
		"variables": {
			"result": {
				"type": "String"
			},
			"result2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PipelineTemplate"
		},
		"annotations": []
	}
}